.Title {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: baseline;
    background-color: #564D98;
    color: #fff;
  }
  
  .Title-Subtitle {
    margin-left: 1em;
    color: rgb(255, 253, 253);
  }